<span id="container{{id}}" class="cloze {{#gap.isCorrect}}correct{{/if}} {{#gap.isError}}error{{/if}} {{#gap.isRetry}}retry{{/if}}">
  {{#unless isSelectCloze}}
    <input id="{{gap.id}}" type="text" value="{{gap.enteredText}}" size="{{gap.minTextLength}}" on-escape="closeMessage:{{gap}}" on-enter="checkCloze:{{gap}}" {{#gap.isCorrect}}disabled="disabled" {{/if}} />
    {{#gap.hasHint}}<button on-click="showHint:{{gap}}" {{#gap.isCorrect}}disabled="disabled" {{/if}}><i class="fa fa-question-circle"></i></button>{{/if}}
  {{/unless}}
  {{#if isSelectCloze}}
    {{#gap.hasHint}}
      <button on-click="showHint:{{gap}}" {{#gap.isCorrect}}disabled="disabled"{{/if}}>
      <i class="fa fa-question-circle"></i></button>
    {{/if}}
    <select id="{{gap.id}}" type="text" value="{{gap.enteredText}}" on-enter="checkCloze:{{gap}}" {{#gap.isCorrect}}disabled="disabled" {{/if}}size="1">
      {{#each gap.choices}}
        <option>{{this}}</option>
      {{/each}}
    </select>                    
    <button on-click="checkCloze:{{gap}}" {{#gap.isCorrect}} disabled="disabled" {{/if}}>
      <i class="fa fa-check"></i>
    </button>
  {{/if}}
  {{#gap.showMessage}}
    <span class="message">
      <button on-click="closeMessage:{{gap}}">
        <i class="fa fa-times"></i>
      </button>
      {{gap.message}}
    </span>
  {{/if}}
</span>