<span id="container{{id}}" class="blank {{#blank.hasPendingFeedback}}has-pending-feedback{{/if}} {{#blank.hasHint}}has-tip{{/if}} {{#blank.isCorrect}}correct{{/if}} {{#blank.isError}}error{{/if}} {{#blank.isRetry}}retry{{/if}} {{#blank.isShowingSolution}}showing-solution{{/if}}">
  {{#unless isSelectCloze}}
    <span class="h5p-input-wrapper">
      <input id="{{blank.id}}" type="text" value="{{blank.enteredText}}" 
             size="{{blank.minTextLength}}" on-escape="@this.fire('closeMessage', blank)" 
             on-enter="@this.fire('checkBlank', blank, 'enter')" 
             on-blur="@this.fire('checkBlank', blank, 'blur')" 
             on-focus="@this.fire('focus', blank)"
             on-anykey="@this.fire('textTyped', blank)"
             {{#(blank.isCorrect || blank.isShowingSolution)}}disabled="disabled"{{/if}}
             class="h5p-text-input"/>
      {{#blank.hasHint}}
        <span class="h5p-tip-container">
          <button on-click="@this.fire('showHint', blank)" {{#(blank.isCorrect || blank.isShowingSolution)}}disabled="disabled" {{/if}}>
            <i class="fa fa-question-circle"></i>
          </button>
        </span>
        {{/if}}
    </span>    
  {{/unless}}
  {{#if isSelectCloze}}
    <span class="h5p-input-wrapper">      
      <select id="{{blank.id}}" type="text" value="{{blank.enteredText}}"
              on-enter="@this.fire('checkBlank', blank, 'enter')" 
              on-change="@this.fire('checkBlank', blank, 'change')"
              on-focus="@this.fire('focus', blank)"
              {{#(blank.isCorrect || blank.isShowingSolution)}}disabled="disabled"{{/if}} 
              size="1"
              class="h5p-text-input">
        {{#each blank.choices}}
          <option>{{this}}</option>
        {{/each}}
      </select>                     
      {{#blank.hasHint}}
        <span class="h5p-tip-container">
          <button on-click="@this.fire('showHint', blank)" {{#(blank.isCorrect || blank.isShowingSolution)}}disabled="disabled"{{/if}}>
            <i class="fa fa-question-circle"></i>
          </button>
        </span>
      {{/if}}     
    </span>
  {{/if}}
</span>