.h5p-advanced-blanks {
  position: relative;
}

/* Text */
.h5p-advanced-blanks #cloze p, .h5p-advanced-blanks #cloze div {
  line-height: 1.75em;
  margin: 0 0 1em;
}

/* Input */

.h5p-advanced-blanks .blank input {
  font-family: H5PDroidSans, sans-serif;
  font-size: 1em;
  border-radius: 0.25em;
  border: 1px solid #a0a0a0;
  padding: 0.1875em 1em 0.1875em 0.5em;
  overflow: hidden;
  white-space: nowrap;
}

/* Showing solution input */
.h5p-advanced-blanks .blank.showing-solution input {
  border: 1px dashed #9dd8bb;
  color: #255c41;  
  background: #FFFFFF;
}

/* Focussed input */
.h5p-advanced-blanks .blank input:focus {
  outline: none;
  box-shadow: 0 0 0.5em 0 #7fb8ff;
  border-color: #7fb8ff;
}

/* Correctly answered input */
.h5p-advanced-blanks .blank.correct input {
  background: #9dd8bb;
  border: 1px solid #9dd8bb;
  color: #255c41;
}

/* Incorrect answers */
.h5p-advanced-blanks .blank.error input {
  background-color: #f7d0d0;
  border: 1px solid #f7d0d0;
  color: #b71c1c;
  text-decoration: line-through;
}

/* Buttons */
.h5p-advanced-blanks .blank button {
	padding-left: 5px;
	padding-right: 5px;
	border: none;
	background: none;
}

/* Tooltips */
.h5p-advanced-blanks .tooltiperror, .h5p-advanced-blanks .tooltipcorrect, .h5p-advanced-blanks .tooltipretry {
	padding: 10px;
	max-width: 300px;
	color: #303030;
}

.h5p-advanced-blanks .blank .message button {
	font-size: smaller;
	vertical-align: super;
	float: right;
}

.h5p-advanced-blanks .blank span.message {
	position: absolute;
	max-width: 20em;
	z-index: 100;
	-ms-border-radius: 0.5em;
	border-radius: 0.5em;
	padding-left: 1em;
	padding-right: 0.5em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

.h5p-advanced-blanks .blank.correct span.message {
	background-color: #7fff79;
	border: 1px solid green;
}

.h5p-advanced-blanks .blank.error span.message {
	background-color: #ff4d4d;
	border: 1px solid #ff4d4d;
	color: white;
}

.h5p-advanced-blanks .blank.retry span.message {
	background-color: #ffe774;
	border: 1px solid #ffe774;
	color: black;
}

/* Highlights in text */

.h5p-advanced-blanks .highlighted {
	color: red;
	-webkit-animation-duration: 500ms;
	-moz-animation-duration: 500ms;
	-ms-animation-duration: 500ms;
	-o-animation-duration: 500ms;
	animation-duration: 500ms;
	-webkit-animation-name: blink;
	-moz-animation-name: blink;
	-ms-animation-name: blink;
	-o-animation-name: blink;
	animation-name: blink;
	-webkit-animation-iteration-count: 13;
	-moz-animation-iteration-count: 13;
	-ms-animation-iteration-count: 13;
	-o-animation-iteration-count: 13;
	animation-iteration-count: 13;
	-webkit-animation-direction: alternate;
	-moz-animation-direction: alternate;
	-ms-animation-direction: alternate;
	-o-animation-direction: alternate;
	animation-direction: alternate;
}

@keyframes blink {
	from {
		color: black;
	}

	to {
		color: red;
	}
}

/* Others */

.h5p-advanced-blanks .invisible {
	visibility: collapse;
}