.h5p-advanced-blanks {
  position: relative;
}

/* Text */
.h5p-advanced-blanks #cloze p, .h5p-advanced-blanks #cloze div {
  line-height: 1.75em;
  margin: 0 0 1em;
}

/* Input */

.h5p-advanced-blanks .h5p-input-wrapper {
  display: inline-block;
  position: relative;
}

.h5p-advanced-blanks .blank .h5p-text-input {
  font-family: H5PDroidSans, sans-serif;
  font-size: 1em;
  border-radius: 0.25em;
  border: 1px solid #a0a0a0;
  padding: 0.1875em 1.5em 0.1875em 0.5em;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* Select mode */
select.h5p-text-input {
  appearance: button;
}

/* Showing solution input */
.h5p-advanced-blanks .blank.showing-solution .h5p-text-input {
  border: 1px dashed #9dd8bb;
  color: #255c41;  
  background: #FFFFFF;
}

/* Focussed input */
.h5p-advanced-blanks .blank .h5p-text-input:focus {
  outline: none;
  box-shadow: 0 0 0.5em 0 #7fb8ff;
  border-color: #7fb8ff;
}

/* Correctly answered input */
.h5p-advanced-blanks .blank.correct .h5p-text-input {
  background: #9dd8bb;
  border: 1px solid #9dd8bb;
  color: #255c41;
}

.h5p-advanced-blanks .blank.correct .h5p-input-wrapper:after {
  position: absolute;
  right: 0.5em;
  top: 0;
  text-decoration: none;
  content: "\f00c";
  font-family: 'H5PFontAwesome4';
  color: #255c41;
}

/* Incorrect answers */
.h5p-advanced-blanks .blank.error .h5p-text-input {
  background-color: #f7d0d0;
  border: 1px solid #f7d0d0;
  color: #b71c1c;
  text-decoration: line-through;
}
.h5p-advanced-blanks .blank.error .h5p-input-wrapper:after {
  position: absolute;
  right: 0.5em;
  top: 0;
  font-family: 'H5PFontAwesome4';
  text-decoration: none;
  content: "\f00d";
  color: #b71c1c;
}

/* Buttons */
.h5p-advanced-blanks .blank button {
	padding-left: 5px;
	padding-right: 5px;
	border: none;
	background: none;
}

/* Highlight in spelling mistake marker */

.spelling-mistake .missing-character, .spelling-mistake .mistaken-character {
  color: red;
  font-weight: bold;
  animation-duration: 500ms;	
	animation-name: blink-color;	
	animation-iteration-count: 13;	
	animation-direction: alternate;
}

@keyframes blink-color {
	from {
		color: initial;
	}

	to {
		color: red;
	}
}


.spelling-mistake .mistaken-character {
  text-decoration: line-through;
}

/* Highlights in text */

.h5p-advanced-blanks .highlighted {
  background-color: rgba(255,0,0,0.2);
  padding: 0.4em;
  margin: -0.4em;

	animation-duration: 1000ms;	
	animation-name: blink-background-color;	
	animation-iteration-count: 3;	
	animation-direction: alternate;
}

@keyframes blink-background-color {
	from {
    background-color: initial;    
	}

	to {
    background-color: rgba(255,0,0,0.2);    
	}
}

/* Others */

.h5p-advanced-blanks .invisible {
	visibility: collapse;
}

/* Tips */
.h5p-advanced-blanks .h5p-tip-container {
  position: absolute;
  top: 0;
  right: 0.4em;
  font-size: 1em; 
}

.h5p-advanced-blanks .blank.has-tip .h5p-text-input {
  padding-right: 2.25em;
}
.h5p-advanced-blanks .blank.has-tip.correct .h5p-input-wrapper:after,
.h5p-advanced-blanks .blank.has-tip.error .h5p-input-wrapper:after {
  right: 2.25em;
}
.h5p-advanced-blanks .blank.has-tip.correct .h5p-text-input,
.h5p-advanced-blanks .blank.has-tip.error .h5p-text-input {
  padding-right: 3.5em;
}

/* pending feedback marker */
.h5p-advanced-blanks .blank.error.has-pending-feedback .h5p-input-wrapper:before {
  position: absolute;
  left: -0.4em;
  top: -0.7em;
  font-family: 'H5PFontAwesome4';
  text-decoration: none;
  content: "\f05a";
  color: #b71c1c;

  animation: shake 3s cubic-bezier(.36,.07,.19,.97) reverse;  
  animation-iteration-count: 2;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  2%, 20% {
    transform: translate3d(-0.5px, 0, 0);
  }
  
  4%, 17% {
    transform: translate3d(1px, 0, 0);
  }

  6%, 10%, 15% {
    transform: translate3d(-2px, 0, 0);
  }

  9%, 13% {
    transform: translate3d(2px, 0, 0);
  }
}